#answer_wrapper {
	width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#featured_question {
	position: relative;
	top: 0.7rem;
	font-size: 270%;
}

#featured_question_note {
	height: 0;
}

#featured_question_note span {
	color: #757575;
	position: relative;
    top: -2.5rem;
    right: -10rem;
}

#see_results {
	float: right;
}

.answer_btn {
	font-size: 180%;
    width: 48%;
    margin-left: 1%;
    color: #fff;
    background-color: #03A9F4;
    padding: 4rem 0rem 4rem 0rem;
    border-radius: 0.5rem;
}

.answer_btn:hover {
	color: #fff;
	opacity: 0.8;
}

.home_navbar {
	background-color: #fff;
}

.home_jumbotron {
	background-color: #0288D1;
	color: #fff;
	border-radius: 0;
	margin-bottom: 1rem;
}

.home_jumbotron_text {
	color: #B3E5FC;
}

.home_jumbotron_title {
	font-size: 350%;
}