#featured_question {
	position: relative;
	top: 0.5rem;
	font-size: 270%;
}

#featured_question_note {
	height: 0;
}

#featured_question_note span {
	color: #757575;
	position: relative;
    top: -2.5rem;
    right: -10rem;
}

.home_navbar {
	background-color: #fff;
}

.home_jumbotron {
	background-color: #0288D1;
	color: #fff;
	border-radius: 0;
	margin-bottom: 1rem;
}

.home_jumbotron_text {
	color: #B3E5FC;
}

.home_jumbotron_title {
	font-size: 350%;
}